#intro {
    position: fixed;
    inset: 0px;
    margin: auto;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    max-width: 1300px;
    height: 100%;
    gap: 20px;
    padding: 4px 20px 20px 20px;
    background: rgba(20, 20, 20, 1);
    overflow-y: auto;

    border: 4px solid #fff;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #444;
}

#intro h1 {
    align-self: center;
}

#intro p {
    color: #dddddd;
}

.dataset-option {
    display: flex;

    align-self: center;
}

.dataset-option input {
    display: none;
}

.dataset-option label {
    position: relative;

    border: 1px solid #ffffff;
    z-index: 0;
    background: rgba(20, 20, 20, 1);
    padding: 8px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.dataset-option label::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.dataset-option input:checked + label::before {
    transform: scaleX(1);
}

.dataset-option input:checked + label {
    color: #000000;
}

#start {
    position: relative;
    z-index: 0;

    align-self: center;

    background: rgba(20, 20, 20, 1);
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#start::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background: #ffffff;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

@media (hover: hover) {
    #start:hover {
        color: #000000;
    }

    #start:hover::before {
        transform: scaleX(1);
    }
}

#loading {
    position: fixed;
    inset: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(20, 20, 20, 1);
}
