body,
html {
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #121212;
	font-family: sans-serif;
	color: #ffffff;
}

canvas {
	display: block;
	width: 100vw;
	height: 100vh;
}

