@font-face {
	font-family: "Departure Mono";
	src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
}

html,
body {
	font-family: "Departure Mono";

	height: 100%;
	background-color: #000000;
	color: #ffffff;

	-webkit-tap-highlight-color: transparent;
}

canvas {
	z-index: 0;

	display: block;

	width: 100%;
	height: 100%;
}
