select,
button {
	padding: 8px 12px;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 2px;
	color: #ffffff;
	font-size: 14px;
	transition: all 0.2s;
}
select:focus,
button:focus {
	outline: none;
	background: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.4);
}
button:hover {
	background: rgba(255, 255, 255, 0.1);
}

.random-button {
	display: flex;
	align-items: center;
	gap: 8px;
	background: rgba(255, 255, 255, 0.05);
	color: white;
	border: none;
	border-radius: 2px;
	padding: 8px 16px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.2s;
}
.random-button:active {
	background: #484f56;
}

.random-button:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.05);  
}

.random-icon {
	font-size: 18px;
	line-height: 1;
}

#start-exploration {
	display: block;
	width: 100%;
	padding: 15px 30px;
	background: #2f2f2f;
	color: white;
	border: none;
	border-radius: 2px;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.2s;
	margin-top: 20px;
}
#start-exploration:hover {
	background: #525151;
}

#dropdown-container {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	background: rgba(18, 18, 18, 0.9);
	padding: 10px;
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	width: 20vw;

}
#dropdown-container.expanded {
	width: calc(90% - 20px);
	max-width: 400px;
	left: 50%;
	transform: translateX(-50%);
	flex-direction: row;
	justify-content: space-between;
}

