#dropdown {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1;

	max-width: 40%;

	display: flex;
	flex-direction: column;

	gap: 5px;
}

#selected {
	background: #000000;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 4px;
}

#selected:focus {
	outline: none;
}

#load-button {
	position: relative;
	z-index: 0;

	background: #000000;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 4px;
	cursor: pointer;
	transition: color 0.3s ease;
}

#load-button::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;

	background-color: #ffffff;
	transform: scaleX(0);
	transition: transform 0.3s ease;
	pointer-events: none;
}

@media (hover: hover) {
	#load-button:hover {
		color: #000000;
	}

	#load-button:hover::before {
		transform: scaleX(1);
	}
}

#sensitivity {
	display: flex;
	align-items: center;
	background: #000000;

	gap: 4px;
}

#sensitivity-range {
	width: 100%;
	accent-color: #ffffff;
}

#sensitivity-range {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
}

#sensitivity-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;

	background-color: #ffffff;
	width: 17px;
	height: 17px;
}

#sensitivity-range::-webkit-slider-runnable-track {
	background: #000000;
	border: 1px solid #ffffff;
	height: 18px;
}

#sensitivity-range::-moz-range-thumb {
	border: none;
	border-radius: 0;
	background-color: #ffffff;
	height: 18px;
	width: 18px;
}

#sensitivity-range::-moz-range-track {
	background: #000000;
	border: 1px solid #ffffff;
	height: 18px;
}
