@media (max-width: 730px) {
	#dropdown {
		top: auto;
		right: auto;

		bottom: 10px;
		left: 10px;
		right: 10px;
	}

	#search-wrapper {
		top: auto;
		left: auto;

		top: 10px;
		left: 10px;
		right: 10px;

		flex-direction: column;
	}
}
