#intro {
	position: fixed;
	inset: 0;
	z-index: 3;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	width: 100%;
	height: 100%;
	gap: 20px;
	padding: 4px 20px 20px 20px;
	background-color: rgba(20, 20, 20, 1);
	overflow-y: auto;
	scrollbar-color: #777777 #000000;
}

::-webkit-scrollbar-track {
  background: #000000;

}

::-webkit-scrollbar-thumb {
  background: #777777;
}

#intro h1 {
	align-self: center;
}

#intro p {
	color: #dddddd;
}

.dataset-option {
	display: flex;

	align-self: center;
}

.dataset-option input {
	display: none;
}

.dataset-option label {
	position: relative;

	border: 1px solid #ffffff;
	z-index: 0;
	background: #000000;
	padding: 8px;
	cursor: pointer;
	transition: color 0.5s ease;
}

.dataset-option label::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;

	background: #ffffff;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s ease;
}

.dataset-option input:checked + label::before {
	transform: scaleX(1.001);
}

.dataset-option input:checked + label {
	color: #000000;
}

#start {
	position: relative;
	z-index: 0;

	align-self: center;

	background: #000000;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 8px;
	cursor: pointer;
	transition: color 0.3s ease;
}

#start::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;

	background-color: #ffffff;
	transform: scaleX(0);
	transition:
		transform 0.5s ease,
		color 0.5s ease;
}

@media (hover: hover) {
	#start:hover {
		color: #000000;
	}

	#start:hover::before {
		transform: scaleX(1);
		color: #000000;
	}
}

#loading {
	position: fixed;
	inset: 0;
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(15, 15, 15, 1);
}
