#search-wrapper {
	position: fixed;
	top: 10px;
	left: 10px;
	max-width: 40%;
	z-index: 1;

	display: flex;
}

#search-box {
	display: flex;
	flex-direction: column;

	width: 100%;

	gap: 5px;
}

.search-row {
	display: flex;
	gap: 5px;
}

#search {
	background: #000000;
	border: 1px solid #ffffff;
	color: #ffffff;
	padding: 0px 15px 0px 15px;
	min-width: 0;
}

#search::placeholder {
	color: #ffffff;
}

#search:focus {
	outline: none;
}

#search {
	flex: 3;
}

#search-button {
	flex: 1;
}

#search-button,
#random-button {
	position: relative;
	z-index: 0;

	background: #000000;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 4px;
	cursor: pointer;
	transition: color 0.3s ease;
}

#search-button::before,
#random-button::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;

	background-color: #ffffff;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

#search-results {
	display: none;
}

.search-result-item {
	border: 1px solid #ffffff;
	background: #000000;
	padding: 4px;
	cursor: pointer;
	transition:
		color 0.25s ease,
		background-color 0.25s ease;

	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

@media (hover: hover) {
	#search-button:hover,
	#random-button:hover {
		color: #000000;
	}

	#search-button:hover::before,
	#random-button:hover::before {
		transform: scaleX(1);
	}

	.search-result-item:hover {
		background: #ffffff;
		color: #000000;
	}
}

/* HTML: <div class="loader"></div> */
#loader {
	display: none;

	margin-top: 20px;
	margin-left: 20px;

	width: 15px;
	height: 15px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #ffffff;
	animation: l22-0 2s infinite linear;
}
#loader:before,
#loader:after {
	content: "";
	grid-area: 1/1;
	margin: 15%;
	border-radius: 50%;
	background: inherit;
	transform: rotate(0deg) translate(150%);
	animation: l22 1s infinite;
}
#loader:after {
	animation-delay: -0.5s;
}
@keyframes l22-0 {
	100% {
		transform: rotate(1turn);
	}
}
@keyframes l22 {
	100% {
		transform: rotate(1turn) translate(150%);
	}
}
