#wiki {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	width: 0;
	height: 100%;

	background: #000;
	transition: width 0.3s;
}

#wiki.active {
	width: 35%;
}

#wiki-iframe {
	width: 100%;
	height: 100%;
	border: none;
}

#close-wiki {
	position: absolute;
	top: 10px;
	right: 10px;

	border: none;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;
	background: #000000;
	cursor: pointer;
}

#close-wiki img {
	width: 20px;
	height: 20px;
	filter: invert(1);
}
