#wiki-embed-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background: #121212;
	overflow: hidden;
	transition: width 0.3s;
}
#wiki-embed-container.active {
	width: 35%;
}
#wiki-iframe {
	width: 100%;
	height: 100%;
	border: none;
}
#close-wiki-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background: #000000;
	color: #fcfcfc;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
	/*needs fix*/
	padding-top: 1px;
	padding-left: 7px;
}
#close-wiki-btn:hover {
	background: #909090;
}
